[package]
name = "pavao"
version = "0.2.0"
authors = ["Christian Visintin <christian.visintin@veeso.dev>"]
edition = "2021"
categories = ["network-programming"]
description = "Rust client library for SMB 2/3 based on libsmbclient."
documentation = "https://docs.rs/pavao"
homepage = "https://github.com/veeso/pavao"
include = ["src/**/*", "build.rs", "LICENSE", "README.md", "CHANGELOG.md"]
keywords = ["smb", "samba", "network-protocol", "smb2", "smb3"]
license = "GPL-3.0+"
readme = "README.md"
repository = "https://github.com/veeso/pavao"

# C build
build = "build.rs"
links = "smbclient"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "pavao"
path = "src/lib.rs"

[dependencies]
lazy_static = "^1.4"
libc = "^0.2.121"
log = "^0.4"
thiserror = "^1.0"

[dev-dependencies]
argh = "0.1.7"
env_logger = "^0.10"
pretty_assertions = "^1.0.0"
rpassword = "7.2"
serial_test = "^2"

[build-dependencies]
pkg-config = "0.3.25"

[features]
debug = []
no-log = [ "log/max_level_off" ]
with-containers = []

[[example]]
name = "transfer"
path = "examples/transfer.rs"

[[example]]
name = "tree"
path = "examples/tree.rs"

[[example]]
name = "treeplus"
path = "examples/treeplus.rs"
